@{
    ViewData["Title"] = "Logs Page";
}
<link
    rel="styleSheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.8.1/ui-grid.min.css"
/>
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    rel="stylesheet"/>
<div
    ng-app="myApp"
    ng-controller="LogsController"
    class="p-5"
>
    <div class="form-check form-switch">
        <input
            class="form-check-input"
            ng-model="isFiltersEnabled"
            ng-change="toggleFiltering()"
            type="checkbox"
            id="flexSwitchCheckDefault"
        >
        <label
            class="form-check-label"
            for="flexSwitchCheckDefault"
        >
            Toggle filters
        </label>
    </div>
    <div class="filter-container w-25">
        <div class="date-filter-container d-flex gap-3">
            <div class="form-group w-25" style="min-width: 100px">
                <label for="dateFrom">Date from:</label>
                <input
                    type="text"
                    id="dateFrom"
                    class="form-control date-filter"
                    placeholder="dd.mm.yyyy"
                    ng-model="dateFrom"
                    ng-change="refreshLogs()"/>
            </div>
            <div class="form-group w-25" style="min-width: 100px">
                <label for="dateTo">Date to:</label>
                <input
                    type="text"
                    id="dateTo"
                    class="form-control date-filter"
                    placeholder="dd.mm.yyyy"
                    ng-model="dateTo"
                    ng-change="refreshLogs()"/>
            </div>
        </div>
    </div>
    <div
        class="grid"
        id="logsGrid"
        ui-grid="gridOptions"
        ui-grid-infinite-scroll
        ui-grid-resize-columns
        ui-grid-move-columns
    >
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.8.1/ui-grid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    let myApp = angular.module('myApp',
        [
            'ui.grid',
            'ui.grid.infiniteScroll',
            'ui.grid.resizeColumns',
            'ui.grid.moveColumns'
        ]);

    myApp.controller('LogsController', function ($http, $scope) {
        $scope.page = 1;
        $scope.pageSize = 20;
        $scope.items = [];
        $scope.isFiltersEnabled = true;
        $scope.dateFrom = '';
        $scope.dateTo = '';
        let isLoading = false;

        $scope.gridOptions = {
            data: 'items',
            enableFiltering: $scope.isFiltersEnabled,
            enableColumnResizing: true,
            infiniteScrollRowsFromEnd: 20,
            infiniteScrollDown: true,
            onRegisterApi: function (gridApi) {
                gridApi.infiniteScroll.on.needLoadMoreData($scope, $scope.loadMoreLogs);
                $scope.gridApi = gridApi;
            }
        };

        $scope.getLogs = (page, pageSize, dateFrom, dateTo) => {
            return $http.get('Log/Get', {
                params: {page, pageSize, dateFrom, dateTo}
            })
                .then(response => response.data.logs);
        }

        const loadLogs = (append) => {
            if (isLoading) return;
            isLoading = true;

            const pageToFetch = append ? $scope.page : 1;

            $scope.getLogs(
                pageToFetch, $scope.pageSize,
                $scope.dateFrom, $scope.dateTo
            )
                .then(logs => {
                    if (append) {
                        $scope.items = $scope.items.concat(logs);
                        $scope.page++;
                    } else {
                        $scope.items = logs;
                        $scope.page = 2;
                    }

                    if (logs.length < $scope.pageSize)
                        $scope.gridApi.infiniteScroll.dataLoaded(true);
                    else
                        $scope.gridApi.infiniteScroll.dataLoaded(false);
                })
                .catch(error => {
                    console.error('Ошибка:', error)
                    $scope.gridApi.infiniteScroll.dataLoaded(true)
                })
                .finally(() => {
                    isLoading = false;
                })
        }

        $scope.refreshLogs = () => loadLogs(false);
        $scope.loadMoreLogs = () => loadLogs(true);

        $scope.toggleFiltering = () => {
            $scope.gridOptions.enableFiltering = $scope.isFiltersEnabled;

            $scope.gridOptions.columnDefs.forEach(col => {
                col.enableFiltering = $scope.isFiltersEnabled;
            });

            $scope.gridApi.core.notifyDataChange('column');
        };

        $(document).ready(() => {
            $('.date-filter').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true,
                language: 'ru'
            });

            $scope.refreshLogs()
        });
    })
</script>
<style>
    .grid {
        height: 60rem;
    }
</style>